.arrow {
    margin-bottom: 0.4rem;

    display: inline-block;
    width: 3.5rem;
    height: .2rem;
    background-color: $red;
    transition: width .3s linear;
    position: relative;
    margin-left: 1.5rem;
    cursor: pointer;

    &:before{
        content: " ";
        position: absolute;
        width: .2rem;
        height: 1rem;
        border-radius: .2rem;
        top: -7px;
        right: 0;
        background-color: $red;
        transform: rotate(-45deg);
        transition: right .3s linear;
    }

    &:after{
        content: " ";
        position: absolute;
        width: .2rem;
        height: 1rem;
        top: -1px;
        right: 0;
        border-radius: 2px;
        background-color: $red;
        transform: rotate(45deg);
        transition: right .3s linear;
    }

    &:hover{
        width: 5rem;
    }
    // &--rotate{
    //     transform: rotate(90deg);
    // }
    &--bg-white{
        display: inline-block;
        height: 2.5rem;
        transition: width .3s linear;
        position: relative;
        margin-left: 0;
        cursor: pointer;
        margin-bottom: 0;
        width: .2rem;
        background: $white;

        transition: height .3s linear;
        &::after,
        &::before{
            top: unset;
            bottom: 0;
            background: $white;
        }
        &:before{
            left: -4px;
        }
        &:after{
            right: -4px;
        }
        &:hover{
            height: 4rem;
            width: .2rem;
        }
    }
}
