.cards{
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        width: 36.8rem;
        height: 47.8rem;

        background-color: #eeeff2;
        // margin-bottom: 4.6rem;
        // margin-right: 4.6rem;
        &:last-child{
            margin: 0;
        }
        &:before{
            content: "";
            display: block;
            width: 100%;
            height: 0.2rem;

            background-color: $red;

            position: absolute;
            top: 8rem;
            left: 0;
        }
    }
    &__title{
        margin-top: 2.7rem;
        margin-bottom: 6.9rem;

        font-family:$noto-sans;
        font-style: normal;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 1.1;
        color: $dark;

        text-transform: uppercase;
    }
    &__price{
        font-family: $noto-sans-jp;
        font-style: normal;
        font-weight: bold;
        font-size: 8rem;
        line-height: 1.1;

        margin-bottom: 4rem;
    }
    &__description{
        width: 24.8rem;
        margin-bottom: 2rem;

        font-family: $noto-sans-jp;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 1.6;
    }
    &__link{
        align-self: start;
        margin-left: 6rem;

        font-family: $noto-sans-jp;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.6;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        text-decoration: none;
        color: $dark;
        transition: color .3s linear;

        &:hover{
            color: $red;
        }
        &:hover .arrow{
                width: 5rem;
        }
    }
}
