.container{
    max-width:100% ;
    padding: 0 6rem;
    width: 132rem;
    margin: 0 auto;
    position: relative;
    @include breakpoint(1024px){
        padding: 0 6rem;
    }
    @include breakpoint(768px){
        width: 100%;
        padding: 0 5rem;
    }
    @include breakpoint(425px){
        padding: 0 4rem;
    }
}
.wrapper{
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
}
