.form{
    width: 70%;
    height: 39rem;
    @include breakpoint(1024px){
        width: 100%;
    }
    &__group{
        margin-bottom: 4rem;
        position: relative;
        @include breakpoint(768px){
            margin-bottom: 2rem;
        }
    }
    &__control{
        display: block;
        width: 100%;
        padding: 0.5rem 0 1.2rem;

        background: none;
        border: none;
        border-bottom: 1px solid #3f3f3f;
        border-radius: 0;
        box-shadow: none;

        font-family: $noto-sans-jp;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 1.6;
        color: $white;
        @include breakpoint(1024px){
            width: 65%;
        }

        &--textarea{
            height: 30px;
            overflow: hidden;
            resize: none;
        }

        &:focus + .form__line{
            width: 100%;
            @include breakpoint(1024px){
                width: 65%;
            }
        }

        &::placeholder{
            color: rgba($white, .8);
        }
    }
    &__line{
        width: 0;
        height: 1px;

        background-color: $red;

        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;

        transition: width .3s linear;
    }
    &__footer{
        margin-top: 2rem;
    }
    &__button{
        padding: 0;
        background: none;
        border: 0;

        font-family: $noto-sans-jp;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.6;
        color: $white;

        text-transform: uppercase;

        &:hover{
            color: $red;
        }
        &:hover  .arrow{
            width: 5rem;
        }

    }
}
