.header{
    width: 100%;
    height: 80px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $white;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    &--transparent{
        background: transparent;
    }
    &--top{
        top: 3.3rem;
    }

    &__logo{
        padding: 3rem 1.5rem;
        background-color: $red;

        color: $white;
        font-family: $exo;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2rem;
        text-transform: uppercase;

        cursor: pointer;
    }
    &__nav{
        font-family: $noto-sans-jp;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 1.6;
        text-transform: uppercase;
        color: $dark;
        &--color-white{
            color: $white;
        }
    }

    &__link{
        text-decoration: none;
        color: inherit;
        margin-left: 3.2rem;
        transition:color .3s linear;
        &:first-child{
            margin-left: 0;
        }
        &:hover{
            color: $red;
        }

    }
    @include breakpoint(1024px){
       &__nav{
           display: flex;
           flex-wrap: wrap;
           width: 40%;
           justify-content: flex-end;
           align-items: flex-end;
       }
       &__link{
           margin-left: 3rem;
       }
    }
}
