.help{
    height: 150rem;
    position: relative;
    overflow: hidden;
    @include breakpoint(425px){
        height: auto;
        margin-bottom: 4rem;
    }
    &__image{
        position: absolute;
        right: 0;
        z-index: 11;
        object-fit: cover;
        width: 100%;
        height: 100%;
        @include breakpoint(1024px){
            height: 70%;
            bottom: 14%;
        }
        @include breakpoint(768px){
            height: 50%;
            bottom: 25%;
        }
        @include breakpoint(425px){
            display: none;
        }
    }
    &__inner{
        height: 130.6rem;
        position: relative;
        z-index: 13;
        @include breakpoint(425px){
            padding: 1.6rem;
            height: inherit;
        }
    }
    &__item{
        width: 52rem;
        height: 46.8rem;
        @include breakpoint(768px){
            width: 100%;
        }
    }
    .title{
        margin-bottom: 3.2rem;
        a{
            color: inherit;
            text-decoration: none;
        }
    }
    &__text{
        @extend .pages__text;

        p{
            margin-bottom: 3.2rem;
        }
    }
    &__link{
        font-family: $noto-sans-jp;
        font-size: 1.4rem;
        line-height: 1.6;
        color: $dark;

        color: inherit;
        text-transform: uppercase;
        text-decoration: none;
        &:hover{
            color: $red;
        }
        &:hover .arrow{
            width: 5rem;
        }
    }
    &__absolute{
        opacity: 0.05;

        font-family: $exo;
        font-style: normal;
        font-weight: bold;
        font-size: 41rem;
        z-index: -1;
        @include breakpoint(425px){
            font-size: 20rem;
        }
    }
    &__absolute-text{
        position: absolute;
        top: 0rem;
        right: -70rem;
        z-index: 1;
    }
    &__absolute-text2{
        position: absolute;
        right: 0;
        bottom: 28rem;
        z-index: 1;
        @include breakpoint(425px){
            bottom: 10rem;
            right: -15rem;
        }
    }
    &__absolute-rectungle{
        display: block;
        width: 30.3rem;
        height: 20.6rem;
        border: 8px solid $dark;
        border-radius: 4px;

        position: absolute;
        top: 1rem;
        left: -2.6rem;
    }
}
