.map{
    max-width: 144rem;
    width: 100%;
    position: relative;
    iframe{
        max-width: 144rem;
        width: 100%;
        height: 43.9rem;
    }
    &__item{
        width: 40.4rem;
        height: 29rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: $white;
        box-shadow: 0px 2.6rem 2.4rem -1.4rem rgba(0, 0, 0, 0.25);
        border-radius: .4rem;

        position: absolute;
        top: 7.5rem;
        right: 20.3rem;

        font-family: $noto-sans-jp;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 1.6;
        color: rgba($dark, .8);
        @include breakpoint(1024px){
            width: 30rem;
            height: auto;
            padding: 2rem;
        }
        @include breakpoint(768px){
            right: 10rem;
        }
        @include breakpoint(320px){
            right: 0;
            bottom: 0;
            top: unset;
        }

    }
    &__address,
    &__tel,
    &__time,
    &__email{
        position: relative;
    }
    &__address:before,
    &__tel:before,
    &__time:before,
    &__email:before{
        content: "";
        display: block;
        width: 2.4rem;
        height: 2.4rem;

        position: absolute;
        top: 0;
        left: -3.9rem;
    }
    &__address{
        margin-bottom: 2.2rem;
        &:before{
            background:url('../images/map.svg') center no-repeat;
        }
    }
    &__tel{
        display: block;
        margin-bottom: 2.2rem;
        text-decoration: none;
        color: inherit;

        transition: color .3s linear;
        &:before{
            background:url('../images/phone.svg') center no-repeat;
        }
        &:hover{
            text-decoration: underline;
            color: $red;
        }
    }
    &__time{
        margin-bottom: 2.2rem;
        &:before{
            background:url('../images/time.svg') center no-repeat;
        }
    }
    &__email{
        text-decoration: none;
        color: inherit;

        transition: color .3s linear;
        &:before{
            background:url('../images/email.svg') center no-repeat;
        }
        &:hover{
            text-decoration: underline;
            color: $red;
        }
    }
    .gmnoprint{
        display: none;
    }
}
