.pages{
    margin-bottom: 12rem;
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item{
        width: 33.33%;
        padding: 6rem 6rem 4rem;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 22222;

        text-decoration: none;
        color: inherit;


        &:before{
            content: "";
            display: block;
            opacity: 0;
            visibility: hidden;
            width: 41.6rem;
            height: 25.6rem;
            border: 8px solid rgba($dark, .05);
            border-radius: .4rem;
            z-index: -1;

            transition: opacity .3s linear,
                    visibility .3s linear;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }

        &:hover::before{
            opacity: 1;
            visibility: visible;
        }

    }

    .title{
        margin-bottom: 2rem;
        a{
            color: inherit;
            text-decoration: none;
            text-transform: uppercase;

            transition: color .3s linear;

            &:hover{
                color: $red;
            }
        }
    }
    &__text{
        margin-bottom: 3.2rem;

        font-family: $noto-sans-jp;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 1.6;
    }
    .arrow{
        margin-left: 0;
    }
    @include breakpoint(1024px){
        &__item{
            width: 50%;
        }
    }
    @include breakpoint(768px){
        &__item{
            width: 50%;
        }
        .title{
            font-size: 3.5rem;
        }
        &__text{
            font-size: 1.4rem;
        }
        &__inner{
            justify-content: center;
        }
        &__item{
            width: 85%;
            height: 25.6rem;
            margin-bottom: 2rem;
            padding: 0 4rem;
            justify-content: center;
            &:before{
                opacity: 1;
                visibility: visible;
                width: 100%;
            }
        }
    }
    @include breakpoint(425px){
        .title{
            font-size: 2.5rem;
        }
        &__text{
            font-size: 1.2rem;
        }

    }
}
