.page{
    max-width: 144rem;
    width: 100%;
    padding-top: 8rem;

    background-color: #eeeff2;

    &__inner{
        padding-bottom: 20rem;

        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;

        &--padding-bottom{
            padding-bottom: 0;
        }
    }
    &__header{
        position: relative;
        margin-top: 14rem;
        margin-bottom: 14rem;
    }
    &__rectangle{
        position: absolute;
        top: -10.4rem;
        left: 21.5rem;

        width: 33rem;
        height: 20.6rem;

        border: 0.8rem solid rgba($dark, .05);
        border-radius: .4rem;
        @include breakpoint(1024px){
            left: 0.5rem;
        }
        @include breakpoint(425px){
            top: -8rem;
            left: 0.5rem;
            width: 20rem;
            height: 15rem;
        }
    }
    &__title{
        font-family: $noto-sans;
        font-style: normal;
        font-weight: bold;
        font-size: 4.4rem;
        line-height: 1.1;
        text-align: center;
        @include breakpoint(768px){
            font-size: 3.6rem;
        }
        @include breakpoint(425px){
            font-size: 3rem;
        }
    }
    &__item{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__image{
        width: 36.8rem;
        height: 40.39rem;
        margin: 1.6rem;
        cursor: pointer;

        position: relative;
        &::before{
            content: "";
            display: block;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            height: 100%;
            background-color: rgba($dark, 0.4);

            position: absolute;
            transition: opacity .3s linear,
                        visibility .3s linear;

        }
        &:hover::before,
        &:hover > a{
            opacity: 1;
            visibility: visible;
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $exo;
            font-size: 1.6rem;
            font-weight: 700;
            color: $white;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;

            width: 18rem;
            height: 4rem;
            background-color: darken($red,7);
            border: none;
            border-radius: 1rem;

            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            transition: opacity .3s linear,
                        visibility .3s linear;
        }
        img{
            width: 100%;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
        @include breakpoint(768px){
            &:before{
                opacity: 1;
                visibility: visible;
            }
            a{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
