.portfolio{
    &__inner{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: -15rem;
        margin-bottom: 8.7rem;

        position: relative;
        @include breakpoint(768px){
            margin-bottom: 2rem;
        }
        @include breakpoint(425px){
            margin-top: 0;
        }
    }
    &__content{
        width: 52rem;
        @include breakpoint(768px){
            width: 100%;
            padding: 0 1.6rem;
        }
    }
    &__text{
        @extend .pages__text;
    }
    &__works{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__link{
        position: relative;
        width: 25%;
        &::before{
            content: "";
            display: block;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            height: 100%;
            background-color: rgba($dark, 0.4);

            position: absolute;
            transition: opacity .3s linear,
                        visibility .3s linear;

        }
        &:hover::before,
        &:hover > a{
            opacity: 1;
            visibility: visible;
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $exo;
            font-size: 1.6rem;
            font-weight: 700;
            color: $white;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;

            width: 18rem;
            height: 4rem;
            background-color: darken($red,7);
            border: none;
            border-radius: 1rem;

            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            transition: opacity .3s linear,
                        visibility .3s linear;
        }
        img{
            width: 100%;
        }
        @include breakpoint(1024px){
            margin: 1rem;
        }
        @include breakpoint(768px){
            width: 40%;
            &:before{
                opacity: 1;
                visibility: visible;
            }
            a{
                opacity: 1;
                visibility: visible;
            }
        }
        @include breakpoint(600px){
            width: 100%;
        }
    }
    &__absolute-rectungle{
        @extend .help__absolute-rectungle;
        top: -8rem;
        right: 0;
        left: unset;
        opacity: 0.05;

    }

}
