.tariffs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14rem 1.5rem;

    background-color: $white;
    &__proposal{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        gap: 6rem;

        margin-bottom: 14rem;
    }
    .page__title{
        width: 32rem;
        text-align: left;

        margin-bottom: 2rem;
        .arrow{
            display: block;
            margin-top: 3.2rem;
            margin-left: 0;
        }
    }
    &__proposal-description{
        width: 45.6rem;

        font-family: $noto-sans-jp;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 1.6;
        opacity: 0.8;
    }

    &__plans{

        .page__title{
            width: 100%;
            text-align: center;
            margin-bottom: 6rem;
        }

    }

    &__cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4.6rem;
    }
}
