.slider{
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 8rem;
    &--footer{
        margin-bottom: 0;
        height: 100%;
    }
    &__item{
        width: 100%;
        display: flex;
        height: 700px;
        position: relative;
    }
    &__absolute{
        display: block;
        opacity: 0.05;
    }
    &__absolute-text{
        font-family: $noto-sans;
        font-style: normal;
        font-weight: bold;
        font-size: 15.4rem;
        line-height: 1.1;
        color: $white;

        position: absolute;
        top: 4rem;
        left: -65rem;
        &--footer{
            bottom: -7rem;
            left: -2rem;
            top: inherit;
            text-transform: uppercase;
            letter-spacing: .04em;
        }
    }
    &__rectungle{
        width: 33rem;
        height: 20.6rem;
        border: 0.8rem solid $white;
        border-radius: .4rem;

        position: absolute;
        top: 25.7rem;
        left: 43.1rem;
        &--footer{
            top: 4.4rem;
            left: -4.2rem;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 12rem;
        width: 50%;
        height: 100%;
        background-color: $dark;
        color: $white;
        & .title{
            margin-bottom: 5.2rem;
        }
    }
    &__content-link{
        display: inline-block;
        font-family: $noto-sans-jp;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.6;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        text-decoration: none;
        color: $white;
        transition: color .3s linear;

        &:before{
            content: "";
            display: block;
            width: 14.5rem;
            height: 0.2rem;
            background-color: $red;
            margin-bottom: 2rem;
        }

        &:hover{
            color: $red;
        }
        &:hover .arrow{
                width: 5rem;
        }
    }
    &__image{
        width: 50%;
        img{
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }
    &__footer{
        width: 100%;
        position: absolute;
        padding: 0 6rem 0 12rem;
        bottom: 6rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        font-family: $noto-sans-jp;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 160%;
        color: $white;
    }
    &__footer-text{
        margin-right: 1rem;
    }
    &__footer-button{
        display: flex;
        justify-content: space-between;
        width: 50%;
        a{
            display: block;
            width: 5px;
            height: 5px;
            background: none;
            border: none;
        }
    }
    &__language{
        a{
            color: inherit;
            text-transform: uppercase;
            text-decoration: none;
            transition: color .3s linear;
            &:hover{
                color: $red;
            }
        }
    }

    .slick-dots{
        position: absolute;
        z-index: 1001;
        left: 40%;
        bottom: 6rem;
        display: flex;
        font-size: 0;

        li{
            width: 0.8rem;
            margin: 0 1rem;
            opacity: 0.5;

            &.slick-active{
                opacity: 1;
            }
        }

        button{
            padding: 0;
            height: 0.8rem;
            width: 0.8rem;
            background-color: $white;

            border: none;
            border-radius: 50%;
        }
    }

    @include breakpoint(1024px){
        &__content{
            padding-left: 9rem;
            .title{
                font-size: 3rem;
            }
        }
        &__footer{
            padding-left: 9rem;
        }
        .slick-dots{
            left: 40%;
            bottom: 2rem;
        }
    }
    @include breakpoint(768px){
        &__item{

        }
        &__content{
            width: 50%;
            height: 100%;
            padding-left: 6rem;
        }
        &__content-link{
            font-size: 1.2rem;
            width: 100%;
        }
        &__image{
           width: 50%;
        }
        &__footer{
            bottom: 3rem;
            padding-left: 6rem;
            padding-right: 1.5rem;
        }
        &__footer-text{
            font-size: 1.2rem;
        }
        .slick-dots{
            left: 35%;
        }
    }
    @include breakpoint(575px){
        &__content{
            width: 100%;
        }
        &__image{
            display: none;
        }
        .socials{
            right: 1.5rem;
        }
        &__footer{
            padding-right: 1.5rem;
        }
        &__footer-button{
            font-size: 1.2rem;
        }
        .slick-dots{
            left: 30%;
        }
    }
}

.copyright{
    width: 100%;
    height: 6.3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: $poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.5;
}
