.socials{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    right: 6rem;
    top: 14rem;
    &--footer{
        top: 6rem;
    }
    &--position-top{
        top: -1rem;
        right: 0;
    }
    &__link{
        width: 1.2rem;
        height: 1.2rem;
        display: block;
        background: $white;

        margin-bottom: 2rem;
        transition:background .3s linear;
        &--dark{
            background: $dark;
        }
        &--instagram{
            -webkit-mask: url('../images/Instagram.svg') center no-repeat;
            @include hover($red);
        }
        &--youtube{
            -webkit-mask: url('../images/YouTube.svg') center no-repeat;
            @include hover($red);
        }
        &--facebook{
            -webkit-mask: url('../images/Facebook.svg') center no-repeat;
            @include hover($red);
            margin-bottom: 0;
        }
    }
}
