@mixin breakpoint($bp){
    @media (max-width: $bp){
        @content
    }
};
@mixin breakpoint-min($bp){
    @media (min-width: $bp){
        @content
    }
};
@mixin hover($color){
    &:hover{
        background: $color;
    }
}
