@import "vars";
@import "mixins";
@import "vendor/reset.scss";

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&family=Noto+Sans&family=Noto+Sans+JP:wght@400;700&family=Poppins&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    max-width: 144rem;
    margin: 0 auto;
    position: relative;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
.title{
    font-family: $noto-sans;
    font-style: normal;
    font-weight: bold;
    font-size: 4.4rem;
    line-height: 1.1;

    margin-bottom: 3.2rem;
    &--balck{
        color: $dark;
    }
}
@import "block/container.scss";
@import "block/header.scss";
@import "block/slider.scss";
@import "block/socials.scss";
@import "block/arrow.scss";
@import "block/form.scss";
@import "block/pages.scss";
@import "block/help.scss";
@import "block/portfolio.scss";
@import "block/page.scss";
@import "block/proposal.scss";
@import "block/cards.scss";
@import "block/map.scss";
