<footer>
  <div class="slider slider--footer">
    <div class="slider__item">
      <div class="slider__absolute">
        <h2 class="slider__absolute-text slider__absolute-text--footer">
          Contact
        </h2>
        <div class="slider__rectungle slider__rectungle--footer"></div>
      </div>
      <div class="slider__content">
        <form action="/" class="form">
          <h2 class="title">Напишiть нам</h2>
          <div class="form__group">
            <input class="form__control" type="text" placeholder="Iм’я" />
            <span class="form__line"></span>
          </div>

          <div class="form__group">
            <input class="form__control" type="tel" placeholder="Телефон" />
            <span class="form__line"></span>
          </div>

          <div class="form__group">
            <input
              class="form__control"
              type="text"
              placeholder="Повiдомлення"
            />
            <span class="form__line"></span>
          </div>
          <div class="form__footer">
            <div class="form__group">
              <button class="form__button" type="submit">
                вiдправити
                <span class="arrow"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="slider__image">
        <img src="assets/images/footerBG.jpg" alt="" />
      </div>
    </div>

    <div class="socials socials--footer">
      <a class="socials__link socials__link--instagram" href="#"> </a>
      <a class="socials__link socials__link--youtube" href="#"> </a>
      <a class="socials__link socials__link--facebook" href="#"> </a>
    </div>
  </div>
  <div class="copyright">© 2021. All rights reserved</div>
</footer>
