<header class="header header--top header--transparent">
    <h1 class="header__logo">
        iswd
    </h1>
    <nav class="header__nav header__nav--color-white">
        <a class="header__link" href="index.html">Головна</a>
        <a class="header__link" href="portfolio.html">Портфолiо</a>
        <a class="header__link" href="contact.html">Контакти</a>
    </nav>
</header>
