<header class="header">
    <h1 class="header__logo">
        iswd
    </h1>
    <nav class="header__nav">
        <a class="header__link" href="index.html">Головна</a>
        <a class="header__link" href="portfolio.html">Портфолiо</a>
        <a class="header__link" href="contact.html">Контакти</a>
    </nav>
</header>
