---
layout: default
title: Контакти
---
<section class="page">
    <div class="container">
        <div class="page__inner page__inner--padding-bottom">
            <div class="page__header">
                <h2 class="page__title">Контакти
                    <span class="page__rectangle"></span>
                </h2>
                <div class="socials socials--position-top">
                    <a class="socials__link socials__link--dark socials__link--instagram" href="#"> </a>
                    <a class="socials__link socials__link--dark socials__link--youtube" href="#"> </a>
                    <a class="socials__link socials__link--dark socials__link--facebook" href="#"> </a>
                </div>
            </div>
        </div>
    </div>

    <div class="map">
        <div id="map" style="width: 100%; height: 439px;"></div>
        <div class="map__item">
            <address class="map__modal">
                <div class="map__address">Мелешкіна вулиця, 16/236</div>
                <a href="tel:+380978873906" class="map__tel">+38 (097) 887-39-06</a>
                <div class="map__time">8:00 - 19:00</div>
                <a href="mailto:akimow.ilja@gmail.com" class="map__email">akimow.ilja@gmail.com</a>
            </address>
        </div>
    </div>


</section>
