---
layout: default-home
title: ISWD
---

<!-- Slider block -->
<div class="slider">
  <div class="slider__inner">
    <div>
      <div class="slider__item">
        <div class="slider__content">
          <h2 class="title">Сайти, мобiльнi додатки iнтернет-магазини</h2>
          <a href="#" class="slider__content-link"
            >Дiзнатись бiльше
            <div class="arrow"></div
          ></a>
        </div>
        <div class="slider__image">
          <img src="assets/images/introBg.jpg" alt="" />
        </div>
      </div>
    </div>
    <div>
      <div class="slider__item">
        <div class="slider__content">
          <h2 class="title">
            Далеко-далеко за словесными горами в стране гласных и согласных
            живут.
          </h2>
        <a href="#" class="slider__content-link">
              Дiзнатись бiльше
            <div class="arrow"></div>
        </a>
        </div>
        <div class="slider__image">
          <img src="assets/images/footerBG.jpg" alt="" />
        </div>
      </div>
    </div>
    <div>
      <div class="slider__item">
        <div class="slider__content">
          <h2 class="title">
            Далеко-далеко за словесными, горами в стране гласных и согласных
            живут.
          </h2>
        <a href="#" class="slider__content-link">
            Дiзнатись бiльше
          <div class="arrow"></div>
        </a>
        </div>
        <div class="slider__image">
          <img src="assets/images/footerBG.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="slider__absolute">
    <h2 class="slider__absolute-text">Development</h2>
    <div class="slider__rectungle"></div>
  </div>

  <div class="socials">
    <a class="socials__link socials__link--instagram" href="#"> </a>
    <a class="socials__link socials__link--youtube" href="#"> </a>
    <a class="socials__link socials__link--facebook" href="#"> </a>
  </div>

  <div class="slider__footer">
    <div class="slider__footer-text">
      Комплексні рішення вчасно і без помилок
    </div>
    <div class="slider__footer-button">
      <a class="arrow-down" type="button" href="#pages">
        <span class="arrow arrow--rotate arrow--bg-white"></span>
      </a>
      <div class="slider__language">
        <a href="#">ru</a>
        <a href="#">/ua</a>
      </div>
    </div>
  </div>
</div>
<!--/.slider-->

<!-- Pages block -->
<div id="pages" class="pages">
  <div class="container">
    <div class="pages__inner">
      <a href="shop.html" target="_blank" class="pages__item">
        <div class="title title--black">
          <h2>ІНТЕРНЕТ– МАГАЗИНИ</h2>
        </div>
        <div class="pages__text">
          Створюемо прибуткові інтернет-магазини та агрегатори
        </div>
        <div class="arrow"></div>
      </a>
      <a href="#" target="_blank" class="pages__item">
        <div class="title title--black">
          <h2>ВЕБ-РIШЕННЯ</h2hop.html>
        </div>
        <div class="pages__text">
          Розробляемо iдивідуальнi web-сервіси, корпоративні сайти
        </div>
        <div class="arrow"></div>
      </a>
      <a href="#" target="_blank" class="pages__item">
        <div class="title title--black">
          <h2>MOBILE</h2>
        </div>
        <div class="pages__text">Розробляемо мобiльнi додатки</div>
        <div class="arrow"></div>
      </a>
      <a href="#" target="_blank" class="pages__item">
        <div class="title title--black">
          <h2>smm</h2>
        </div>
        <div class="pages__text">
          Ведемо соціальні мережі брендів та створюємо системи залучення
          клієнтів
        </div>
        <div class="arrow"></div>
      </a>
      <a href="#" target="_blank" class="pages__item">
        <div class="title title--black">
          <h2>seo</h2>
        </div>
        <div class="pages__text">
          Просуваємо сайти в пошукових системах з високими показникоми
        </div>
        <div class="arrow"></div>
      </a>
      <a href="#" target="_blank" class="pages__item">
        <div class="title title--black">
          <h2>ppc</h2>
        </div>
        <div class="pages__text">
          Розміщуємо оголошення сайту вашої компанії в результатах пошукових
          систем
        </div>
        <div class="arrow"></div>
      </a>
    </div>
  </div>
</div>
<!-- /.pages -->

<!-- Help block -->
<div class="help">
  <img class="help__image" src="assets/images/body.png" alt="" />
  <div class="help__absolute">
    <div class="help__absolute-text">ISWD</div>
    <div class="help__absolute-text2">ISWD</div>
    <div class="help__absolute-rectungle"></div>
  </div>
  <div class="container">
    <div class="help__inner">
      <div class="help__item">
        <h2 class="title"><a href="">Професійна допомога вашому бізнесу</a></h2>
        <div class="help__text">
          <p>
            Ми переконані, що лише завдяки залученості й спільній роботі над
            проектом можна досягти великих цілей і отримати ефективні
            результати, а тому під кожний проект ми формуємо індивідуальну
            команду. В процесі роботи ми повністю занурюємося в бізнес клієнта,
            шукаємо й приймаємо тільки ті рішення, які релевантні завданням і
            бізнес-цілям.
          </p>

          <p>
            Виходячи з 20-річного досвіду компанії, ми грамотно керуємо
            процесами, працюємо за спринтами й дотримуємося строків. Після
            запуску IT-інструменту, ми аналізуємо його вплив на бізнес,
            допрацьовуємо й супроводжуємо його.
          </p>
        </div>

        <a href="#" class="help__link">
          Дiзнатись бiльше
          <div class="arrow"></div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /.help -->

<!-- Portfolio -->
<div class="portfolio">
  <div class="container">
    <div class="portfolio__inner">
      <div class="portfolio__absolute-rectungle"></div>
      <div class="portfolio__content">
        <h2 class="title">Портфолiо</h2>
        <div class="portfolio__text">
          Однією з найбільш популярних послуг на ринку IT-технологій є створення
          й просування сайту. Вони здатні позитивно вплинути на діяльність
          будь-якого бізнес-проекту в інтернеті. Виходячи з численних відгуків,
          люди, що замовили створення й просування сайтів, ні разу не
          пожалкували про витрачені кошти. Вони інвестували в майбутнє, яке
          неподільно пов’язано з інтернетом. Все більше й більше підприємців
          звертаються за послугами різних агентств і веб-студій, аби замовити
          створення сайтів у професіоналів.
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio__works">
    <div class="portfolio__link">
      <img src="assets/images/works/1.jpg" alt="" class="portfolio__image" />
      <a href="#">переглянути</a>
    </div>
    <div class="portfolio__link">
      <img src="assets/images/works/2.jpg" alt="" class="portfolio__image" />
      <a href="#">переглянути</a>
    </div>
    <div class="portfolio__link">
      <img src="assets/images/works/3.jpg" alt="" class="portfolio__image" />
      <a href="#">переглянути</a>
    </div>
    <div class="portfolio__link">
      <img src="assets/images/works/4.jpg" alt="" class="portfolio__image" />
      <a href="#">переглянути</a>
    </div>
  </div>
</div>
<!-- /.portfolio -->
