---
layout: default
title: Портфолiо
---

<section class="page">
    <div class="container">
        <div class="page__inner">
            <div class="page__header">
                <h2 class="page__title">Наші останні роботи
                    <span class="page__rectangle"></span>
                </h2>
                <div class="socials socials--position-top">
                    <a class="socials__link socials__link--dark socials__link--instagram" href="#"> </a>
                    <a class="socials__link socials__link--dark socials__link--youtube" href="#"> </a>
                    <a class="socials__link socials__link--dark socials__link--facebook" href="#"> </a>
                </div>
            </div>

        <div class="wrapper">
            <div class="page__item">
                <div class="page__image">
                    <img src="assets/images/works/1.jpg" alt="">
                    <a href="#">переглянути</a>
                </div>
                <div class="page__image">
                    <img src="assets/images/works/2.jpg" alt="">
                    <a href="#">переглянути</a>
                </div>
                <div class="page__image">
                    <img src="assets/images/works/3.jpg" alt="">
                    <a href="#">переглянути</a>
                </div>
                <div class="page__image">
                    <img src="assets/images/works/4.jpg" alt="">
                    <a href="#">переглянути</a>
                </div>
                <div class="page__image">
                    <img src="assets/images/works/5.jpg" alt="">
                    <a href="#">переглянути</a>
                </div>
                <div class="page__image">
                    <img src="assets/images/works/6.jpg" alt="">
                    <a href="#">переглянути</a>
                </div>
                <div class="page__image">
                    <img src="assets/images/works/7.jpg" alt="">
                    <a href="#">переглянути</a>
                </div>
                <div class="page__image">
                    <img src="assets/images/works/8.jpg" alt="">
                    <a href="#">переглянути</a>
                </div>
                <div class="page__image">
                    <img src="assets/images/works/9.jpg" alt="">
                    <a href="#">переглянути</a>
                </div>
            </div>
        </div>

        </div>
    </div>
</section>
