---
layout: default
title: Інтернет– магазини
---
<section class="page">
    <div class="container">
        <div class="page__inner page__inner--padding-bottom">
            <div class="page__header">
                <h2 class="page__title">Інтернет– магазини
                    <span class="page__rectangle"></span>
                </h2>
                <div class="socials socials--position-top">
                    <a class="socials__link socials__link--dark socials__link--instagram" href="#"> </a>
                    <a class="socials__link socials__link--dark socials__link--youtube" href="#"> </a>
                    <a class="socials__link socials__link--dark socials__link--facebook" href="#"> </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tariffs">

        <div class="tariffs__proposal">
            <h2 class="page__title">Що ми пропонуемо
                <a href="#">
                    <span class="arrow"></span>
                </a>
            </h2>
            <div class="tariffs__proposal-description">
                <p>
                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound.
                </p>
                <p>
                    The actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue
                </p>
            </div>
        </div>

        <div class="tariffs__plans">
            <h2 class="page__title">Тарифи</h2>
            <div class="tariffs__cards cards">

                <div class="cards__item">
                    <h3 class="cards__title">Економ</h3>
                    <div class="cards__price">$500</div>
                    <div class="cards__description">
                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system
                    </div>
                    <a href="#" class="cards__link">Дiзнатись бiльше
                        <span class="arrow">
                            <span></span>
                        </span>
                    </a>
                </div>

                <div class="cards__item">
                    <h3 class="cards__title">Медiум</h3>
                    <div class="cards__price">$800</div>
                    <div class="cards__description">
                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system
                    </div>
                    <a href="" class="cards__link">Дiзнатись бiльше
                        <span class="arrow">
                            <span></span>
                        </span>
                    </a>
                </div>

                <div class="cards__item">
                    <h3 class="cards__title">Професійний</h3>
                    <div class="cards__price">$1500</div>
                    <div class="cards__description">
                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system
                    </div>
                    <a href="" class="cards__link">Дiзнатись бiльше
                        <span class="arrow">
                            <span></span>
                        </span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
