<!DOCTYPE html>
<html lang="uk">
<head>
    {{> head }}
</head>
<body>

    {{> header-home }}

    {{> body }}

    {{> footer }}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>
