<!DOCTYPE html>
<html lang="uk">
<head>
    {{> head }}
</head>
<body>

    {{> header }}

    {{> body }}

    {{> footer }}





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9ypIt2rW-LZtYCbyXGkc9uuc4N5ensvM&callback">
  </script>
  <script src="assets/js/app.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</body>
</html>
